@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: hidden;
}

.score {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    margin: 5px;
    padding: 8px;
    user-select: none;
}